/*Mobile Phone Responsive Design */
@media(min-width: 320px){
    *{
        background-color: #D7C0AE;
        text-align: center;
    }
}

/*Tablet Responsive Design */
@media(min-width: 600px) and (max-width: 900px){
    *{
        background-color: #967E76;
    }
}

/*Desktop Responsive Design */
@media(min-width: 901px){
    *{
        background-color: #9BABB8;
    }
}